<div class="block">
    <div class="title">
        14th Warsaw Half Marathon charity program
    </div>
    <div class="content">
        I'm collecting money for <a href="http://noniron.org">The NON IRON Foundation</a>, as a part of 14th Warsaw Half Marathon. Please visit link below and help, thank You!
        <a class="image" href="https://rejestracja.maratonwarszawski.com/pl/charity/7272">
            <img class="img-fluid" height="30px" src="/assets/images/biegam_dobrze.png" />
        </a>
    </div>
</div>

