<div class="article">
    <div class="picture">
        <a data-flickr-embed="true" data-footer="true" href="https://www.flickr.com/photos/mslonina/{{ page.flickr_id }}/in/dateposted-public/"
            title="{{ page.title }}">
            <img class="img-fluid" src="https://farm5.staticflickr.com/4380/{{ page.flickr_thumbnail }}.jpg" width="2048"
                height="1360" alt="{{ page.title }}"></a>
        <!--<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>-->
    </div>

    <div class="content">
        {{ page.content }}
    </div>
</div>