---
layout: default
---

<div class="article">
    <div class="picture">
        <figure>
            <img class="img-fluid" src="https://res.cloudinary.com/mariusz-slonina-pl/image/upload/c_scale,w_1000/v1548017187/{{ page.lead_image }}"
                alt="{{ page.title }}">
        </figure>
    </div>

    <div class="heading">
        <h2>{{ page.title }}</h2>
        <!--<p>{{ page.date }} &middot; {{ page.author }}</p>-->
    </div>

    <div class="content">
        {{ page.content }}
    </div>
</div>